data-transfomation/src/main/mule/transform-xml-to-csv-json-xlsx.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transform-xml-to-csv-json-xlsx-Flow" doc:id="0020f7f8-c46b-4659-be2d-2ba1bdabf767" >
		<file:listener doc:name="XML Files" doc:id="1f8daec2-aba9-4fd8-80f5-3263331349a1" directory="C:\workspace\MuleSoft\MuleSoftWithFish\Hands-On\data-transformation\input" autoDelete="true" moveToDirectory="C:\workspace\MuleSoft\MuleSoftWithFish\Hands-On\data-transformation\backup" renameTo="#[&quot;backup-&quot; ++ now() as String{format:'Y-M-d-h-m-s'}++ &quot;-&quot; ++ vars.fileName]">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.xml" />
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="fileName" doc:id="006552bb-6f93-4b83-bb85-ca9236665711" variableName="fileName"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="7c107309-9272-488c-ab5c-50826c4032f1" >
			<route >
				<flow-ref doc:name="xml to csv" doc:id="305765d8-8ca1-4fd1-af4c-88cca1250597" name="xml-to-csv-subflow"/>
			</route>
			<route >
				<flow-ref doc:name="xml to json" doc:id="fa857d2c-8505-460a-a7f9-5d2174cd81c7" name="xml-to-json-subflow"/>
			</route>
			<route >
				<flow-ref doc:name="xml to xlsx" doc:id="97bbee55-a3e1-4db4-95df-0e2a3506e353" name="xml-to-xlsx-subflow"/>
			</route>
		</scatter-gather>
	</flow>
	<sub-flow name="xml-to-csv-subflow" doc:id="8038c11e-b146-4c09-b38e-c891fcf55738" >
		<ee:transform doc:name="XML to CSV" doc:id="58b431a2-e1a4-4845-a63e-10cb92068b0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.DATA.*ROW]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="05086941-63ad-4940-b576-8b87a197b104" path="#[(vars.fileName splitBy  &quot;.&quot;)[0] ++ &quot;-&quot;  ++ now() as String {format: 'y-M-d-h-m-s'} ++  &quot;.csv&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="xml-to-json-subflow" doc:id="7dafd87b-a123-4dc4-9343-994dd43096f0" >
		<ee:transform doc:name="XML to JSON" doc:id="456d6e11-1866-4009-8ccf-a63b3b1586ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.DATA.*ROW]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="36f27713-8aad-42c7-acdc-dccaa0ddefa7" path="#[(vars.fileName splitBy  &quot;.&quot;)[0] ++ &quot;-&quot; ++ now() as String {format: 'y-M-d-h-m-s'} ++  &quot;.json&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="xml-to-xlsx-subflow" doc:id="23e85810-2261-445a-87e5-08a8bf3badc5" >
		<ee:transform doc:name="XML to XLSX" doc:id="2155fd15-7199-44f8-bcb9-8e0704f07e74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx
---

	'sheet1':payload.DATA.*ROW

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="42a7cb7c-9723-4c1b-aaea-8d18b3e106a4" path="#[(vars.fileName splitBy  &quot;.&quot;)[0] ++ &quot;-&quot; ++ now() as String {format: 'y-M-d-h-m-s'} ++ &quot;.xlsx&quot;]" config-ref="File_Config"/>
	</sub-flow>
</mule>
